<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <filter>
    <filter-name>UncaughtExceptionFilter</filter-name>
    <filter-class>com.local.filter.UncaughtExceptionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UncaughtExceptionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>com.local.bootstrap.BootstrapListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.local.servlet.usermanagement.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/add-user</url-pattern>
  </servlet-mapping>
</web-app>
