<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <filter>
    <filter-name>UncaughtExceptionFilter</filter-name>
    <filter-class>com.local.servlet.UncaughtExceptionFilter</filter-class>
  </filter>
  <filter>
    <filter-name>AddUpdateUserFilter</filter-name>
    <filter-class>com.local.servlet.usermanagement.AddUpdateUserFilter</filter-class>
  </filter>
  <filter>
    <filter-name>GetDeleteUserFilter</filter-name>
    <filter-class>com.local.servlet.usermanagement.GetDeleteUserFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>UncaughtExceptionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AddUpdateUserFilter</filter-name>
    <url-pattern>/add-user</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AddUpdateUserFilter</filter-name>
    <url-pattern>/update-user</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GetDeleteUserFilter</filter-name>
    <url-pattern>/get-user</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GetDeleteUserFilter</filter-name>
    <url-pattern>/delete-user</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>com.local.bootstrap.BootstrapListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.local.servlet.usermanagement.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.local.servlet.usermanagement.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.local.servlet.usermanagement.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.local.servlet.usermanagement.LoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/add-user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/update-user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/delete-user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
</web-app>
